p {
    margin: 0px;
  }
  h1 {
    margin: 0px;
  }
  h2 {
    margin: 0px;
  }
  h3 {
    margin: 0px;
  }
html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
body {
    background-color: transparent;
    transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transform-style: preserve-3d;
}
.loginInput {
    position: absolute;
    height: 30px;
    width: 150px;
    left: 50px;
    top: 140px;
}
.loginButton {
    position: absolute;
    width: 50px;
    left: 210px;
    top: 140px;
    height: 30px;
}
.loginTitle {
    position: absolute;
    left: 50px;
    top: 50px;
    opacity: 1;
    font-weight: bold;
    font-family: Verdana;
    /* width: 274px; */
    height: 86px;
    transform-origin: 34250px 129.831px 0px;
    font-size: 75px;
}
#lobbyDiv {
    display: none;
    padding: 20px;
    /* font-weight: bold; */
    font-family: Verdana;
    font-size: 25px;
}
#lobbyDiv-button{
    display: none;
}
#gameDiv {
    float:left;
    width: 80%;
    height: 100%;
    display: none;
    border:1px solid #000;
}
#player1{
    position: absolute;
    top: 95%;
    left: 70%;
    margin: 0px;
    font-family: Arial;
    font-size: larger;
}
#player2{
    position: absolute;
    top: 85%;
    left: 1%;
    margin: 0px;
    font-family: Arial;
    font-size: larger;
}
#player3{
    position: absolute;
    top: 0%;
    left: 5%;
    margin: 0px;
    font-family: Arial;
    font-size: larger;
}
#player4{
    position: absolute;
    top: 15%;
    left: 75%;
    margin: 0px;
    padding: 0px;
    font-family: Arial;
    font-size: larger;
}

#pickPieceDiv{
    position: absolute;
    top: 30%;
    left: 25%;
    width: 30%;
    height: 40%;
    /* border: 3px #00ff00 solid; */
}

#pickPieceBlack{
    position: absolute;
    top: 10%;
    left: 0%;
    width: 45%;
    height: 90%;
    border: 2px #aa00bb solid;
}

#pickPieceWhite{
    position: absolute;
    top: 10%;
    left: 55%;
    width: 45%;
    height: 90%;
    /* border: 2px #bbaa00 solid; */
}

#chatDiv{
    display: none;
    float:right;
    min-height: 150px;
    width: 19%;
}
#chatText {
    overflow-y: auto;
    height: 90%;
}
#chatForm {
    position:absolute;
    bottom: 0;
    width: 19%;
}
#chatInput {
    border: 3px solid #555;

    /* position:absolute; */
    /* bottom: 0; */
    width: 100%;
}