#gameDiv {
  position: relative;
  z-index: -1;
  float: left;
  width: 80%;
  height: 98%;
  display: none;
  border: 1px solid #000;
  font-weight: bold;

}
#player0Div {
  position: absolute;
  width: 60%;
  height: 20%;
  top: 78%;
  left: 20%;
  margin: 0px;
  font-family: Arial;
  font-size: larger;
  /* border: 2px solid #00ff00; */
  /* margin: -5px; */
  /* padding: 0px; */
  text-align: center;
}

#player1Div {
  position: absolute;
  width: 15%;
  height: 80%;
  top: 10%;
  left: 0%;
  margin: 0px;
  font-family: Arial;
  font-size: larger;
  text-align: center;
  /* border: 2px solid #00ff00; */
}

#player2Div {
  position: absolute;
  width: 60%;
  height: 20%;
  top: 0%;
  left: 20%;
  margin: 0px;
  font-family: Arial;
  font-size: larger;
  text-align: center;
  /* border: 2px solid #00ff00; */
}

#player3Div {
  position: absolute;
  width: 15%;
  height: 80%;
  top: 10%;
  left: 85%;
  margin: 0px;
  font-family: Arial;
  font-size: larger;
  /* border: 2px solid #00ff00; */
  text-align: center;
}

.name{
  font-size: large;
  font-weight: bold;
}

/* .player1{  */

/* } */

.piecesDiv {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
  /* border: solid 1px #00f;  */
  margin: 0;
  padding: 0%;
}

.downwards {
  transform: rotate(180deg);
}
.rotatedRight {
  transform: translateY(-100%) rotate(90deg);
  transform-origin: left bottom;
  position: absolute;
  left: 0px;
}
.rotatedLeft {
  transform: translateY(-100%) translateX(-100%) rotate(270deg);
  transform-origin: right bottom;
  position: absolute;
  left: 100%;
}

#pickPieceDiv {
  display: none;
  z-index: 1;
  position: absolute;
  top: 35%;
  left: 35%;
  width: 30%;
  height: 30%;
  border: 2px #aaa solid;
  border-radius: 5px;
}

.selectB {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 0%;
  width: 45%;
  height: 90%;
  /* border: 2px #aa00bb solid; */
}

.selectW {
  z-index: 2;
  position: absolute;
  top: 10%;
  left: 55%;
  width: 45%;
  height: 90%;
  /* border: 2px #bbaa00 solid; */
}

#endTurnButton{
  position: absolute;
  left: 45%;
  top: 60%;
  width: 10%;
  font-weight: bold;
}

#textTip{
  text-align: center;
  font-weight: bold;
  font-size: 200%;
  display: none;
  z-index: 1;
  position: absolute;
  top: 44%;
  left: 30%;
  width: 40%;
  height: 12%;
  /* border: 3px #ff0000 solid; */
}

#guessDiv {
  display: none;
  text-align: center;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 30%;
  width: 40%;
  /* height: 30%; */
  /* border: 3px #00ff00 solid; */
}
